<h1>Good Job! Now prove it.</h1>
<ziggeo ziggeo-responsive></ziggeo>
<%= form_tag '/proof', method: "post", class: "success-form" do %>
   <%= text_field_tag :note, nil, placeholder: 'Notes?', class: "note" %><br />
   <%= hidden_field_tag(:token) %>
   <%= submit_tag "Done", class: "button submit" %>
<% end %>