<h1>Good Job!</h1>
<ziggeo ziggeo-responsive></ziggeo>
<!--<%= form_tag(do_success_redirect, method: "post") do %>
   Notes: <%= text_field_tag(:notes) %><br />
   <%= submit_tag("Log In") %>
   <%= hidden_field_tag(:token) %>
<% end %>-->