<h1>newsfeed</h1>

<%= link_to "My Goals", goals_url %>
<ziggeo ziggeo-video='8f9c90dc243060eef9f4631b7e07d61d' ziggeo-responsive></ziggeo>
<ziggeo ziggeo-video='8f9c90dc243060eef9f4631b7e07d61d' ziggeo-responsive></ziggeo>
<ziggeo ziggeo-video='8f9c90dc243060eef9f4631b7e07d61d' ziggeo-responsive></ziggeo>
<ziggeo ziggeo-video='8f9c90dc243060eef9f4631b7e07d61d' ziggeo-responsive></ziggeo>